#name-from{
   height:100vh;
   background-color:red;
   text-align:center;

}



body {
background-color:red;
}

#login {
    transition-duration: 0.4s;
    font-size: 15px;
    height: 40px;
    width: 95px;
    border-color: black;
    border-radius: 20px;
    padding-left:10px;
    background-color:black;
    color:white;
  }



#name-value {
border-radius:30px;
}

#message-value{
border-radius:30px;
width:300px;
align:center;
}

#send-btn {
    transition-duration: 0.4s;
    font-size: 15px;
    height: 40px;
    width: 95px;
    border-color: black;
    border-radius: 20px;
    padding-left:10px;
    background-color:black;
    color:white;
  }



 #logout {
     transition-duration: 0.4s;
     font-size: 15px;
     height: 40px;
     width: 95px;
     border-color: black;
     border-radius: 20px;
     padding-left:10px;
     background-color: black;
          color: white;
   }


